

.container{
   display: flex;
   justify-content: center;
   margin: 0;
   height: 100vh;
   width: 100vw;
   background-color:rgb(20, 20, 224);
  
   
}
   

.item{
   background-color:white;
   border-radius: 10px;
   width:100%;
   max-width: 40vw;
   min-width: 300px;
   height: 230px;
   padding-top: 40px;
   text-align: center;
   margin-top: 100px;
   box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);

}

.item h1{ font-size: 23px;}

.item input{
   margin: 5px;

}

.item button{margin: 5px; border-radius: 5px;}



