
.campo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color: rgb(43, 43, 241);

}
.campo form{
    background-color: rgb(43, 43, 241);
}

.campo input{
    height: fit-content;
    width: 50vw;
    min-width: 10vw;
    padding: 2vw;
    background-color:white;
    font-size: 17px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 7px;
}

.campo button{
    height: fit-content;
    min-width: 10px;
    padding: 2vw;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: rgb(17, 3, 107);
    transform: translate(-2%, -1%);
    border-radius: 7px;
   
}

@media(max-width:400px){
    .campo input{
        font-size:12px;
    }
    .campo button{
        font-size: 12px;
    }
}




