

.container-pai{
    display: flex;
    justify-content: center;
    background-color: rgb(43, 43, 241);
}

.div-filho{
    background-color: rgb(43, 43, 241);
}

.container-pai ol{
    padding-left: 0;
    background-color: rgb(43, 43, 241);
}


.listaDeItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    border-radius: 7px;
    font-size: 30px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 55vw;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.7px);
    -webkit-backdrop-filter: blur(1.7px);
    border: 1px solid rgba(255, 255, 255, 0.78);
   
}

.listaDeItem input{
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left: 10px;
    
}


.listaDeItem label{
   background-color: transparent;
   font-family: 'Segoe UI';
   padding-bottom: 5px;
   padding-right: 5px;
   margin-top: 15px;
   border-radius: 7px;
   font-size: 1.5rem;
   
  
}

.lixo{
    background-color: rgba(0,0,0,0);
    margin-right: 10px;
    align-self: center;
    margin-left: 10px;
    font-size: 20px;     
}

@media(max-width:1000px){
    .listaDeItem label{
        font-size: 20px;
    }
    .lixo{
        font-size:15px
    }
    .listaDeItem input{
        min-width: 15px;
        min-height: 15px;
    }

}

@media(max-width:750px){

    .listaDeItem label{
        font-size: 15px;
    }
    .lixo{
        font-size:10px
    }}
    .listaDeItem input{
        min-width: 10px;
        min-height: 10px;
    }

@media(max-width:650px){
    .listaDeItem label{
        font-size: 12px;
    }
    
}

@media(max-width:550px){
    .listaDeItem label{
        font-size: 10px;
    }
   }

@media(max-width:450px){
    .listaDeItem label{
        font-size: 8px;
    }
    .lixo{
        font-size:8px
    }
    .listaDeItem input{
        min-width: 8px;
        min-height: 8px;
    }
}

@media(max-width:350px){
    .listaDeItem label{
        font-size: 6px;
    }
    
}

