html{
    background-color: rgb(43, 43, 241);
}

.styleHome{
    background-color: rgb(43, 43, 241);
    min-width: 100vw;
    height: 100vh;
    margin:none;
    border: none;

}

.styleHome header{

    min-width: 40vw;
    min-height: 50vh;
   
}

