
.header{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:'Segoe UI';
    font-size:80%;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(43, 43, 241);
}


.header h1{
    background: none;
    font-size: 4rem;
    color:white;
}



@media(max-width:580px){
       .header h1{
        font-size: 3rem;

       }
    
}


@media(max-width:460px){
    .header h1{
     font-size: 2rem;

    }
 
}